{% extends "base.html" %}


{% block header %}
<header class="home-header d-flex gap-3">
    <span onclick="filterPosts('for_you')" class="pointer {% if category == 'for_you' %}active {% else %} gray-text {% endif %}">Для вас</span>
    <span onclick="filterPosts('following')" class="pointer {% if category == 'following' %}active {% else %} gray-text {% endif %}">Ви підписані</span>
</header>
{% endblock %}

{% block content %}
{% for post in posts %}
	<br>
	<article class="post-container">
		<section>
			<article class="post-user-info d-flex">
				<a href="{% url 'user-info' post.user.pk %}"><img src="{{ post.user.avatar.url }}" class="profile-avatar" style="width: 36px;height: 36px;"></a>
				<a href="{% url 'user-info' post.user.pk %}"><h4><b>{{ post.user }}</b></h4></a>
				<h4 class="gray-text">{{ post.date_published.date }}</h4>
			</article>
			<figure>
				<img src="{{post.media.url}}" class="post-media">
				<section>
					<span onclick="likePost({{post.pk}})" class="pointer like-btn {% for like in post.likes.all %}{% if request.user == like.user %}liked{% endif %}{% endfor %}" id="like-btn-{{ post.pk }}">
						<span class="heart">&hearts;</span> 
					</span>
					{% if request.user == post.user %}
						<a href="{% url 'post:update_post' post.pk %}" class="p-2"><span class="material-symbols-outlined pointer">edit</span></a>
						<a href="{% url 'post:delete_post' post.pk %}" class="p-2"><span class="material-symbols-outlined pointer">delete</span></a>
					{% endif %}
						<a href="{% url 'post:post-details' post.pk %}" class="p-2"><span class="material-symbols-outlined pointer">comment</span></a>
				</section>
				<h5><span id="like-count-{{ post.pk }}">{{ post.likes.count }}</span> likes</h5>
				{% if request.user == post.user %}
					<figcaption><a href="{% url 'user-info' post.user.pk %}"><b>{{post.user.username}}</b></a> {{ post.content }}</figcaption>
				{% endif %}
			</figure>
		</section>
		<br>
	</article>
{% endfor %}
<script>
	function filterPosts(category) {
        window.location.href = `?category=${category}`;
    }
	function changeFilter(filter) {
		const url = new URL(window.location.href);
		url.searchParams.set('filter', filter);
		window.location.href = url.toString();
	}
</script>
{% endblock %}