{% extends "base.html" %}

{% block content %}

    <div class="col-lg-6 col-md-8 col-12 px-5">
        <form method="POST" action="{% url 'change-password' user.id %}">
            <h1>Change password</h1>
            {% csrf_token %}

                <label for="current_password">Current password</label>
                <input type="password"  name="current_password" class="form-control form-input">

            <label for="new_password1">New password</label>
            <input type="password" name="new_password1" class="form-control form-input">

            <label for="new_password2">New password again</label>
            <input type="password" name="new_password2" class="form-control form-input">

            <button type="submit"class="sbmt-btn">Submit</button>
        </form>
    </div>

{% endblock %}