{% extends "base.html" %}

{% block content %}

    <div class="col-lg-6 col-md-8 col-12 px-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Edit Profile</h1>

            <section>
                <label for="avatar">Avatar:</label>
                <input type="file" id="avatar" name="avatar" class="form-control form-input">
                {% if user.avatar %}
                    <img src="{{user.avatar.url}}" class="avatar">
                {% endif %}
            </section>

            <section>
                <label for="username">Username:</label>
                <input type="text" required id="username" name="username" class="form-control form-input" value="{{user.username}}">
            </section>

            <section>
                <label for="first_name">Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control form-input" value="{{user.first_name}}">
            </section>

            <section>
                <label for="last_name">Surname:</label>
                <input type="text" id="last_name" name="last_name" class="form-control form-input" value="{{user.last_name}}">
            </section>

            <section>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control form-input" value="{{user.email}}">
            </section>

            <section>
                <label for="bio">Bio:</label>
                <input type="bio" required id="bio" name="bio" class="form-control form-input" value="{{user.bio}}">
            </section>

            <a href="{% url 'change-password' user.id %}" >Change password</a>
            <button type="submit"class="sbmt-btn">Submit</button>
        </form>
    </div>

{% endblock %}