{% extends "base.html" %}

{% block content %}
{% if messages %}
<br>
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if message.tags == "error" %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
<article class="main-container d-flex flex-column">
    <form method="POST" action="{% url 'login' %}">
        <h1>Login</h1>
        {% csrf_token %}
        <section>
            <label for="username">Username:</label>
            <input type="text" required id="username"  name="username" class="form-control form-input">
        </section>
        
        <section>
            <label for="password">Password:</label>
            <input type="password" required id="password" name="password" class="form-control form-input">
        </section>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'register' %}" >Do not have any account?</a>
    </form>
</article>
{% endblock %}