{% extends "base.html" %}

{% block content %}


    <div class="col-lg-6 col-md-8 col-12 px-5">
        <form method="POST" action="{% url 'login' %}">
            <h1>Login</h1>
            {% csrf_token %}
            <section>
                <label for="username">Username:</label>
                <input type="text" required id="username"  name="username" class="form-control form-input">
            </section>
            
            <section>
                <label for="password">Password:</label>
                <input type="password" required id="password" name="password" class="form-control form-input">
            </section>
            <button type="submit" class="sbmt-btn">Submit</button>
            <a href="{% url 'register' %}" >Do not have any account?</a>
        </form>
    </div>

{% endblock %}