{% extends "base.html" %}

{% block content %}

<article class="main-container d-flex flex-column">
    <section class="d-flex gap3">
        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% load static %}{% static 'images/default_avatar.jpg' %}{% endif %}" class="profile-avatar">
        <article class="d-flex flex-column gap">
            <article class="d-flex gap">
                <a href="{% url 'user-info' user.pk %}" class="h4">{{user.username}}</a>
                {% if request.user == user %}
                    <a href="{% url 'edit-user' user.id %}" class="a-btn">Edit profile</a>
                    <span class="material-symbols-outlined">settings</span>
                {% else %}
                    <form id="follow-form" method="post" action="{% url 'toggle-follow' user.pk %}">
                        {% csrf_token %}
                        <button type="submit" id="follow-button" class="a-btn">{% if user.pk in following %}Unfollow{% else %}Follow{% endif %}</button>
                    </form>
                {% endif %}
            </article>
            <ul class="gap d-flex">
                <li><b>{{user.posts.count}}</b> posts</li>
                <li><span id="followers-count"><b>{{ user.followers.count }}</b></span> followers</li> 
                <li><span id="following-count"><b>{{ user.following.count }}</b></span> following</li>
            </ul>
            <b>{{user.first_name}} {{user.last_name}}</b>
            <br>
            
            {% if user.bio %}
            <p>{{user.bio}}</p><br>
            {% endif %} 
            
        </article>
    </section>

        
    <br><br><br><br><br>
    <h2>User posts:</h2>
    <ul class="">
        {% for post in user.posts.all %}
            <img src="{{post.media.url}}" style="width: 200px; height: 150px;">
        {% endfor %}
    </ul>
</article>

<script>
    document.getElementById('follow-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
    
        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                const followButton = document.getElementById('follow-button');
                const followersCount = document.getElementById('followers-count');
                const followingCount = document.getElementById('following-count');
    
                followButton.textContent = data.following ? 'Unfollow' : 'Follow';
                followersCount.textContent = data.followers_count;
                followingCount.textContent = data.following_count;
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}