{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center full-screen">

    <h1>User profile</h1>

    <ul class="user_infos">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" class="avatar">
        {% else %}
            {% load static %}
            <img src="{% static 'images/default_avatar.jpg' %}" class="avatar">
        {% endif %}
        <li><h1>{{user.username}} Followers: <span id="followers-count">{{ user.followers.count }}</span> Following: <span id="following-count">{{ user.following.count }}</span></h1></li><br>
        <li>Name: {{user.first_name}}</li><br>
        <li>Surname: {{user.last_name}}</li><br>
        {% if user.bio %}
            <li><p>{{user.bio}}</p></li><br>
        {% endif %} 
        
        {% if request.user == user %}
            <li><a href="{% url 'edit-user' user.id %}">Edit profile</a></li>
        {% else %}
            <form id="follow-form" method="post" action="{% url 'toggle-follow' user.pk %}">
                {% csrf_token %}
                <button type="submit" id="follow-button">
                    {% if user.pk in following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </ul>

    <h2>User posts:</h2>
    <ul class="">
        {% for post in user.posts.all %}
            <img src="{{post.media.url}}" style="width: 200px; height: 150px;">
        {% endfor %}
    </ul>
</div>
<script>
    document.getElementById('follow-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
    
        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                const followButton = document.getElementById('follow-button');
                const followersCount = document.getElementById('followers-count');
                const followingCount = document.getElementById('following-count');
    
                followButton.textContent = data.following ? 'Unfollow' : 'Follow';
                followersCount.textContent = data.followers_count;
                followingCount.textContent = data.following_count;
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}