{% extends "base.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<article class="main-container d-flex flex-column">
    <section class="d-flex gap3 ps-4">
        <img src="{{ user.avatar.url }}" class="profile-avatar">
        <article class="d-flex flex-column gap">
            <article class="d-flex gap">
                <a href="{% url 'user-info' user.pk %}" class="h4">{{user.username}}</a>
                {% if request.user == user %}
                    <a href="{% url 'edit-user' user.id %}" class="a-btn">Edit profile</a>
                    <span class="material-symbols-outlined">settings</span>
                {% else %}
                    <form id="follow-form" method="post" action="{% url 'toggle-follow' user.pk %}">
                        {% csrf_token %}
                        <button type="submit" id="follow-button" class="a-btn">{% if user.pk in following %}Unfollow{% else %}Follow{% endif %}</button>
                    </form>
                    <a href="{% url 'chat:start_chat' user.id %}" class="a-btn">Start Chat</a>
                {% endif %}
            </article>
            <ul class="gap d-flex">
                <li><b>{{user.posts.count}}</b> posts</li>
                <li><a href="{% url 'post:get-followers' user.pk %}"><span id="followers-count"><b>{{ user.followers.count }}</b></span> followers</a></li> 
                <li><a href="{% url 'post:get-following' user.pk %}"><span id="following-count"><b>{{ user.following.count }}</b></span> following</a></li>
            </ul>
            <b>{{user.first_name}} {{user.last_name}}</b>
            {% if user.bio %}
                <p>{{user.bio}}</p>
            {% endif %} 
            
        </article>
    </section>
    <h2>User posts:</h2>
    <div class="row">
        {% for post in user.posts.all %}
        <div class="col-md-4 profile-post-container">
            <img src="{{ post.media.url }}"  class="profile-post-media">
            <a class="post-hover-info" href="{% url 'post:post-details' post.pk %}"><span><span class="heart">&hearts;</span> {{post.likes.count}}</span> <span><span class="material-symbols-outlined pointer">comment</span>{{post.comments.count}}</span></a>
        </div>
        {% endfor %}
    </div>
</article>

<script>
    document.getElementById('follow-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
    
        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                const followButton = document.getElementById('follow-button');
                const followersCount = document.getElementById('followers-count');
                const followingCount = document.getElementById('following-count');
    
                followButton.textContent = data.following ? 'Unfollow' : 'Follow';
                followersCount.textContent = data.followers_count;
                followingCount.textContent = data.following_count;
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}