* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: white !important;
	align-items: center;
}
.logo {
	font-family: "Playwrite IT Moderna", cursive;
	font-size: 24px;
	width: 100%;
	margin-bottom: 50px;
}
.sidebar {
	border-right: 2px solid rgba(255, 255, 255, 0.1);
	height: 100%;
	width: 350px;
	display: inline-block;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1;
}
a, a:visited  {
	text-decoration: none;
	color: white;
	display: inline-block;
}
.a-btn{
	padding: 5px 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	color: white;
}
ul {
	list-style-type: none;
	padding: 0;
}
.sidebar ul {
	height: 100%;
	width: 80%;
	padding: 20px;
}
.sidebar-item {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
	transition: 0.5s;
}
.sidebar-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
li > a {
	width: 100%;
	height: 100%;
}
.active {
    font-weight: bold;
}
.active img {
	border: 2px solid white;
}
.home-header {
	width: 700px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	margin-top: 50px;
	font-size: 24px;
}
.post-container {
	width: 468px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.post-media {
	width: 100%;
	height: 585px;
	border-radius: 5px;
}
.profile-post-container {
	width: 300px;
	height: 300px;
}
.profile-post-media {
	width: 100%;
	height: 95%;
}
.post-hover-info {
	color: transparent;
	width: 100%;
	height: 100%;
	bottom: 100%;
	position: relative;
	padding: 100px;
	transition: 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.post-hover-info:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}
.comments {
	height: 300px;
	overflow-y: scroll;
}
.like-btn .heart {
	font-size: 36px;
    color: black; /* Порожнє сердечко */
	-webkit-text-stroke-width: 1px; 
	-webkit-text-stroke-color: white; 
}
.like-btn .heart:hover {
	-webkit-text-stroke-color: gray; 
}
.like-btn.liked .heart {
	color: red; /* Заповнене сердечко */
	-webkit-text-stroke-width: 0px; 
}
.pointer {
	cursor: pointer;
	user-select: none;
}
.post-user-info {
	height: 50px;
	gap: 10px;
}
.gray-text {
	color: gray;
}
.profile-avatar {
	border-radius: 100px;
	width: 175px;
	height: 175px;
	border: white solid 2px;
}
.sidebar-avatar {
	border-radius: 30px;
	width: 24px;
	height: 24px;
}
.main-container {
	margin: 40px 0 0 60px;
	width: 910px;
}
.gap {
	gap: 25px;
}
.gap2 {
	gap: 50px;
}
.gap3 {
	gap: 80px;
}
.chat-container {
	width: 1000px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	height: 100vh;
}
#chat-messages{
	height: 85vh;
	overflow-y: scroll;
}
#chat-messages::-webkit-scrollbar {
    width: 0;
}
.msg-input {
	width: 95%;
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255,0.2);
	height: 50px;
}

#message-content {
	width: 95%;
	background-color: transparent;
	color: white;
	border:0;
	padding: 10px;
} 
#message-content:focus {
	outline: none;
}
.message {
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.25rem;
    border-radius: 17px;
	padding: 10px 20px;
	margin-bottom: 5px;
	width:min-content;
}

.delete-btn {
	color: transparent;
	transition: 0.3s;
}
.delete-btn:hover {
	color: white;
}
.new-notification-icon {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
    font-size: 12px;
}

@media(max-width: 1300px) {
	.sidebar {
		width: 100px;
	}
}

@media(max-width: 1000px) {
	.sidebar .flex-column {
		flex-direction: row !important;
	}
	.sidebar {
		width: 100vw;
		align-self: end;
		height: 100px;
		align-self: end !important; 
	}
}