* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: white !important;
	display: flex;
	flex-direction: row;
	width: 100vw;
}
.logo {
	font-family: "Playwrite IT Moderna", cursive;
	font-size: 24px;
	width: 100%;
	margin-bottom: 50px;
}
.sidebar {
	border-right: 2px solid rgba(255, 255, 255, 0.1);
	height: 100%;
	width: 350px;
	display: inline-block;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1;
}
a, a:visited  {
	text-decoration: none;
	color: white;
	display: inline-block;
}
.sidebar ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
ul {
	list-style-type: none;
}
.sidebar-item {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
	transition: 0.5s;
}
.sidebar-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
li > a {
	width: 100%;
	height: 100%;
}
main {
	margin: 30px 0 0 430px;
	
}
.avatar {
	border-radius: 30px;
	width: 150px;
	height: 150px;
	border: white solid 2px;
}
.post-media {
	width: 300px;
	height: 300px;
}
.comment-container {
	border: 2px white solid;
	margin:5px;
}
.like-btn .heart {
    font-size: 36px;
    color: black; /* Порожнє сердечко */
	-webkit-text-stroke-width: 1px; 
	-webkit-text-stroke-color: white; 
}
.like-btn .heart:hover {
	-webkit-text-stroke-color: gray; 
}
.like-btn.liked .heart {
    color: red; /* Заповнене сердечко */
	-webkit-text-stroke-width: 0px; 
}
.pointer {
	cursor: pointer;
	user-select: none;
}
.post-user-info {
	display: flex;
	height: 50px;
	gap: 10px;
}
.post_date {
	color: gray;
}