* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: white !important;
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.sidebar {
	border-right: 2px solid white;
	height: 100%;
	width: 400px;
	display: inline-block;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1;
}
a, a:visited  {
	text-decoration: none;
	color: white;
	display: inline-block;
}
.sidebar ul {
	height: 100%;
	display: flex;
	flex-direction: column;
}
ul {
	list-style-type: none;
}
.sidebar > ul > li {
	width: 100%;
	height: 100px;
	padding: 20px;
	font-size: 24px;
}
li > a {
	width: 100%;
	height: 100%;
}
main {
	margin: 30px 0 0 430px;
	
}
.avatar {
	border-radius: 30px;
	width: 150px;
	height: 150px;
	border: white solid 2px;
}
.post-media {
	width: 250px;
	height: 250px;
}
.comment-container {
	border: 2px white solid;
	margin:5px;
}
