{% extends 'base.html' %}

{% block title %}Chats{% endblock %}

{% block content %}
    <h2>Your Chats</h2>
    <ul>
        {% for item in chat_participants %}
            <li class="h4">
                {% load static %}
                <a href="{% url 'chat:chat_detail' item.chat.pk %}">
                <img src="{% if item.participant.avatar %}{{ item.participant.avatar.url }}{% else %}{% static 'images/default_avatar.jpg' %}{% endif %}" class="sidebar-avatar">
                    Chat with {{ item.participant.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
