<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link href="https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column">
	<nav class="sidebar">
		<ul class="d-flex flex-column">
			<li>
				<h1><a href="{% url 'post:index' %}" class="logo">Tashkegram</a></h1>
			</li>
			<li class="sidebar-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
				<a href="{% url 'post:index' %}"><span class="material-symbols-outlined">home</span>Home</a>
			</li>
			<li class="sidebar-item {% if request.resolver_match.url_name == 'add_post' %}active{% endif %}">
				<a href="{% url 'post:add_post' %}"><span class="material-symbols-outlined">add_box</span>Add</a>
			</li>
			{% if not request.user.is_authenticated %}
				<li class="sidebar-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
					<a href="{% url 'login' %}"><span class="material-symbols-outlined">login</span>Login</a>
				</li>
			{% else %}
				<li class="sidebar-item {% if request.resolver_match.url_name == 'chat_list' or request.resolver_match.url_name == 'chat_detail' %}active{% endif %}">
					<a href="{% url 'chat:chat_list' %}"><span class="material-symbols-outlined">chat</span>Messages</a>
				</li>
				<li class="sidebar-item {% if request.resolver_match.url_name == 'notifications' %}active{% endif %}">
					<a href="{% url 'notifications' request.user.pk %}">
						<span class="material-symbols-outlined">notifications</span>
						Notifications
						{% if unread_notification_count > 0 %}
							<span class="new-notification-icon">{{ unread_notification_count }}</span>
						{% endif %}
					</a>
				</li>
				<li class="sidebar-item {% if request.resolver_match.url_name == 'user-info' and request.user == user %}active{% endif %}">
					<a href="{% url 'user-info' request.user.pk %}">
						<img src="{{ request.user.avatar.url }}" class="sidebar-avatar">
						Profile
					</a>
				</li>
				<li class="sidebar-item {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">
					<a href="{% url 'logout' %}"><span class="material-symbols-outlined">logout</span>Вихід</a>
				</li>
			{% endif %}
		</ul>
	</nav>
	{% block header %}{% endblock %}
	<main class="d-flex flex-column">
		{% block content %}
		{% endblock %}
	</main>
</body>
	
<script>
	function likePost(postId) {
		const likeBtn = document.getElementById('like-btn-' + postId);
		const likeCount = document.getElementById('like-count-' + postId);

		fetch("{% url 'post:like-post' 0 %}".replace('0', postId), {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}'
			},
			body: JSON.stringify({})
		})
		.then(response => {
			if (response.status === 403) {
				window.location.href = '{% url "login" %}';
				return;
			}
			return response.json();
		})
		.then(data => {
			likeCount.textContent = data.likes_count;
			if (data.liked) {
				likeBtn.classList.add('liked');
			} else {
				likeBtn.classList.remove('liked');
			}
		})
		.catch(error => console.error('Error:', error));
	}
    function toggleFollow(userId) {

    fetch(`/toggle-follow/${userId}`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'X-Requested-With': 'XMLHttpRequest',
        },
        body: JSON.stringify({ user_id: userId })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
        } else {
            const followButton = document.getElementById(`follow-button-${userId}`);
            const followersCount = document.getElementById('followers-count');
            const followingCount = document.getElementById('following-count');

            followButton.textContent = data.following ? 'Unfollow' : 'Follow';
            if (followersCount) {
                followersCount.textContent = data.followers_count;
            }
            if (followingCount) {
                followingCount.textContent = data.following_count;
            }
        }
    })
    .catch(error => console.error('Error:', error));
}
</script>
</body>
</html>